<style>
    table.social {
        border: 1px solid #333;
        padding-left: 40px;
        position: center;
        margin-left:auto;
        margin-right:auto;
    }
    
    th.social, td.social {
        padding: 15px;
        margin-left:auto;
        margin-right:auto;
    }
    
    th.social {
        text-align: center;
    }
</style>
<hr>
<footer style="background: #333; width: 100%;">
<table class="social">
    <p style="color: #f2f2f2; padding-left: 30px; padding-right: 30px; padding-top: 50px; font-size: 15px;">
    Meet peers, take part in community service, learn
    valuable life skills, and so much more through the
    Physics Registered Student Organizations (RSOs).
    Find out more about our Physics RSOs at their websites
    and through their social media pages with the links
    below. Make sure you join us afterwards for a bonfire,
    we'll be walking over together as soon as the hunt is done!
    </p>
    <tr class="social">
        <th class="social">
            <a href="https://van.physics.illinois.edu/">PhysVan</a>
        </th>
        <th class="social">
            <a href="https://wiki.illinois.edu//wiki/display/physoc">SPS</a>
        </th>
        <th class="social">
            <a href="http://people.physics.illinois.edu/SWIP/">SWIP</a>
        </th>
    </tr>
    <tr class="social">
        <td class="social">
            <a href="https://instagram.com/physicsvan?igshid=cdxeo8vri8bj" class="fa fa-instagram">
            </a>
        </td>
        <td class="social">
            <a href="https://www.instagram.com/uiuc_sps/" class="fa fa-instagram"></a>
        </td>
        <td class="social">
            <a href="https://www.facebook.com/SWIPuiuc/?eid=ARDep3YikOdx4Pu4Kxo-J7b5K1TaD--rKjhqnIXJc7gCWmT4K27BletxR4kAbO8pKqr_sgthy9gTMzsc" class="fa fa-facebook">
            </a>
        </td>
    </tr>
</table>
</footer>
